asgiref==3.7.2
Django==5.0.1
django-appconf==1.0.6
django-auto-logout==0.5.1
django-compressor==4.4
jupyter-events==0.7.0
jupyter-lsp==2.2.0
jupyter_client==8.3.1
jupyter_core==5.3.1
jupyter_server==2.7.3
jupyter_server_terminals==0.4.4
jupyterlab==4.0.6
jupyterlab-pygments==0.2.2
jupyterlab_server==2.25.0
joblib==1.2.0
numpy==1.26.3
python-dotenv==1.0.1
rcssmin==1.1.1
rjsmin==1.2.1
scikit-learn==1.2.2
scipy==1.12.0
sqlparse==0.4.4
threadpoolctl==3.2.0
typing_extensions==4.9.0
tzdata==2023.4
